html, body, #app {
	height: 100vh;
}

.container {
	display: flex !important;
	background-color: #212121;
	max-width: inherit !important;
	width: inherit !important;
	height: inherit;
  overflow: hidden;
}

@media only screen and (min-width: 601px) {
	.container {
		width: inherit !important;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: inherit !important;
	}
}

.p-0 {
	padding: 0;
}
.p-1 {
  padding: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-8 {
  padding-right: 8rem;
}
.pt-5 {
  padding-top: 5rem;
}
.pt-8 {
  padding-top: 8rem;
}
.m-0 {
	margin: 0;
}
.m-1 {
	margin: 1rem;
}
.m-auto {
	margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-1 {
  margin-top: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-8 {
  margin-right: 8rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mb-1 {
  margin-bottom: 5rem;
}

.entry {
	display:flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center;
	color: #ffffff;
	font-size: 1.25rem;
}
.entry-c2 {
	/* width: 60%; */
	flex:2;
	color: white;
	word-break: break-all;
	white-space: normal;
}
.entry-c3 {
	width: 5rem;
}
.head-title {
	color: white;
	font-size: 3rem;
	margin: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}
.box1 {
	width: 100%;
	display: grid;
}
.box2 {
	width: 75%;
	height: 100%;
	float:left;
	overflow-y: auto;
	/* width:1000px; */
	/* height: 100px; */
}
.box2:after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}
.box2::-webkit-scrollbar {
  width: 0.70rem;               /* width of the entire scrollbar */
}
.box2::-webkit-scrollbar-track {
  border-radius: 2rem;       /* roundness of the scroll thumb */
  background: #545454;        /* color of the tracking area */
}
.box2::-webkit-scrollbar-thumb {
  background-color: #1fb393;    /* color of the scroll thumb */
  border-radius: 2rem;       /* roundness of the scroll thumb */
  border: 3px solid #545454;  /* creates padding around scroll thumb */
}